//biến màu sắc
$blue1:#2A72DC;
$White:white;
$blue2: #1E345E;
$yellow: #F9D211;
// biến fonrsize
$fs-base:16px;
$fs-lg:20px;
$fs-xl:24px;
$fs-2xl:28px;
$fs-h1:60px;

// biến fontweight
$fw-normal:400;
$fw-bold:700;
$fw-extra-bold:800;

// biến margin
//$mg-r:20px;
